dataloadgen/src/test/resources/data_8.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.xml.td.hp.com/Model" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xml.td.hp.com/Model">
  <element name="TD">
    <complexType>
      <sequence>
        <element name="solution" type="string" minOccurs="0" maxOccurs="1" />
        <element name="version" type="int" minOccurs="0" maxOccurs="1" default="0"/>
        <element name="groups">
          <complexType>
            <sequence>
              <element name="group" type="tns:GroupType" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element name="actions">
          <complexType>
            <sequence>
              <element name="action" type="tns:ActionType" maxOccurs="unbounded" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
        <element name="serviceTypes">
          <complexType>
            <sequence>
              <element name="serviceType" type="tns:ServiceTypeType" maxOccurs="unbounded" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
        <element name="workflowTemplates">
          <complexType>
            <sequence>
              <element name="workflowTemplate" type="tns:WorkflowTemplateType" maxOccurs="unbounded" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
        <element name="helpTexts">
          <complexType>
            <sequence>
              <element name="helpText" type="tns:HelpTextType" maxOccurs="unbounded" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="defaultBundle" type="string" use="optional" />
    </complexType>
  </element>
  <complexType name="GroupType">
    <sequence>
      <element name="name" type="string" minOccurs="1" maxOccurs="1" />
      <element name="states" minOccurs="1" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="name" type="string" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="indexes" minOccurs="1" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="index" minOccurs="1" maxOccurs="unbounded">
              <complexType>
                <sequence>
                	<element name="cause" type="string" minOccurs="0" maxOccurs="1"></element>
                	<element name="states" minOccurs="1"
                		maxOccurs="1">
                		<complexType>
                			<sequence>
                				<element name="value" type="string"
                					minOccurs="0" maxOccurs="unbounded" />
                			</sequence>
                		</complexType>
                	</element>
                	<choice>
                		<element name="actions" maxOccurs="1"
                			minOccurs="1">
                			<complexType>
                				<sequence>
                					<element name="recommended"
                						minOccurs="0" maxOccurs="1">
                						<complexType>
                							<sequence>
                								<element name="action"
                									type="tns:ActionRefType" minOccurs="0"
                									maxOccurs="unbounded" />
                							</sequence>
                						</complexType>
                					</element>
                					<element name="excluded"
                						minOccurs="0" maxOccurs="1">
                						<complexType>
                							<sequence>
                								<element name="action"
                									type="tns:ActionRefType" minOccurs="0"
                									maxOccurs="unbounded" />
                							</sequence>
                						</complexType>
                					</element>
                					<element name="possible"
                						minOccurs="0" maxOccurs="1">
                						<complexType>
                							<sequence>
                								<element name="action"
                									type="tns:ActionRefType" minOccurs="0"
                									maxOccurs="unbounded" />
                							</sequence>
                						</complexType>
                					</element>
                				</sequence>
                				<attribute name="proceed" type="boolean"
                					use="optional" default="false">
                				</attribute>
                			</complexType>
                		</element>
                		<element name="nextGroup" type="string"
                			minOccurs="1" maxOccurs="1" />
                		<element name="endState" maxOccurs="1"
                			minOccurs="1">
                			<complexType></complexType>
                		</element>
                	</choice>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attribute name="order" type="int" use="required" />
  </complexType>
  <complexType name="ActionType">
    <sequence>
    	<element name="name" type="string" maxOccurs="1" minOccurs="1" />
    	<element name="solution" type="string" maxOccurs="1"
    		minOccurs="0" />
    	<element name="label" type="string" maxOccurs="1" minOccurs="0" />
    	<element name="description" type="string" maxOccurs="1"
    		minOccurs="0" />
    	<element name="type" maxOccurs="1" minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="recover/resolve" />
    				<enumeration value="test" />
    				<enumeration value="audit" />
    				<enumeration value="read-only-test" />
    				<enumeration value="internal" />
    				<enumeration value="escalate" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="actionMode" maxOccurs="1" minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="Open Loop" />
    				<enumeration value="Closed Loop" />
    				<enumeration value="None" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="outputParser" maxOccurs="1" minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="None" />
    				<enumeration value="xpath" />
    				<enumeration value="regex" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="dispatchType" maxOccurs="1" minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="HPSA" />
    				<enumeration value="OO" />
    				<enumeration value="Shell Script" />
    				<enumeration value="Alarm" />
    				<enumeration value="Trouble Ticket" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="troubleTicketAction" maxOccurs="1"
    		minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="create_tt" />
    				<enumeration value="update_tt" />
    				<enumeration value="check_tt" />
    				<enumeration value="close_tt" />
    				<enumeration value="dissociate_tt" />
    				<enumeration value="associate_tt" />
    				<enumeration value="dissociate_close_tt" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="alarmAction" maxOccurs="1" minOccurs="0">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="update_alarm" />
    				<enumeration value="terminate_alarm" />
    			</restriction>
    		</simpleType>
    	</element>
    	<element name="cost" type="string" maxOccurs="1" minOccurs="0" />
    	<element name="throbber" type="string" minOccurs="0"
    		maxOccurs="1" />
    	<element name="icon" type="string" minOccurs="0" maxOccurs="1" />
    	<element name="averageDurationTime" type="int" minOccurs="0"
    		maxOccurs="1" />
    	<element name="includeMajorInStateVector" type="boolean"
    		maxOccurs="1" minOccurs="0">
    	</element>
    	<element name="majorStateVectorName" type="string" maxOccurs="1" minOccurs="0"></element>
    	<element name="includeMinorInStateVector" type="boolean"
    		maxOccurs="1" minOccurs="0">
    	</element>
    	<element name="minorStateVectorName" type="string" maxOccurs="1" minOccurs="0"></element>
        <element name="TDSynchQueue" type="string" maxOccurs="1" minOccurs="0"></element>
    	<element name="inputParameters" maxOccurs="1" minOccurs="0">
    		<complexType>
    			<sequence>
    				<element name="inputParameter" maxOccurs="unbounded"
    					minOccurs="0">
    					<complexType>
    						<sequence>
    							<element name="name" type="string"
    								maxOccurs="1" minOccurs="1" />
    							<element name="type" maxOccurs="1"
    								minOccurs="1">
    								<simpleType>
    									<restriction base="string">
    										<enumeration value="String" />
    										<enumeration
    											value="Integer" />
    										<enumeration value="Float" />
    										<enumeration
    											value="Boolean" />
    									</restriction>
    								</simpleType>
    							</element>
    							<element name="label" type="string"
    								maxOccurs="1" minOccurs="0" />
    							<element name="historyLabel"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="description"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="defaultValue"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="editable" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="hidden" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="includeInStateVector"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="stateVectorName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="extractFromStateVector"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="includeInMetaData"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="metaDataName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="extractFromMetaData"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="includeInStickyData"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="stickyDataName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="displayFormatType"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="displayFormat"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="mandatory" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="setAsCustomer"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<element name="setAsServiceType"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<element name="setAsProblem"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<choice><element name="setAsResourceType" type="boolean" maxOccurs="1" minOccurs="0">
    							</element><element name="setAsResourceInstance" type="boolean" maxOccurs="1" minOccurs="0">
    							</element></choice>
                                    <element name="helpTexts" minOccurs="0" maxOccurs="1">
    								<complexType>
    									<sequence>
    										<element name="helpText" type="string" minOccurs="1" maxOccurs="unbounded" />
    									</sequence>
    								</complexType>
    							</element>
                                    <element name="icon" type="string" minOccurs="0" maxOccurs="1" />
                                </sequence>
    					</complexType>
    				</element>
    			</sequence>
    		</complexType>
    	</element>
    	<element name="inputGroups" minOccurs="0" maxOccurs="1">
    		<complexType>
    			<sequence>
    				<element name="inputGroup" minOccurs="1"
    					maxOccurs="unbounded">
    					<complexType>
    						<sequence>
    							<element name="parameter" type="string"
    								minOccurs="1" maxOccurs="unbounded" />
    						</sequence>
    					</complexType>
    				</element>
    			</sequence>
    		</complexType>
    	</element>
    	<element name="outputParameters" maxOccurs="1" minOccurs="0">
    		<complexType>
    			<sequence>
    				<element name="outputParameter"
    					maxOccurs="unbounded" minOccurs="1">
    					<complexType>
    						<sequence>
    							<element name="name" type="string"
    								maxOccurs="1" minOccurs="1" />
    							<element name="type" maxOccurs="1"
    								minOccurs="1">
    								<simpleType>
    									<restriction base="string">
    										<enumeration value="String" />
    										<enumeration
    											value="Integer" />
    										<enumeration value="Float" />
    										<enumeration
    											value="Boolean" />
    									</restriction>
    								</simpleType>
    							</element>
    							<element name="label" type="string"
    								maxOccurs="1" minOccurs="0" />
    							<element name="historyLabel"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="description"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="defaultValue"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="editable" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="hidden" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="includeInStateVector"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="stateVectorName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="includeInMetaData"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="metaDataName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="includeInStickyData"
    								type="boolean" maxOccurs="1" minOccurs="0" />
    							<element name="stickyDataName"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="displayFormatType"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="displayFormat"
    								type="string" maxOccurs="1" minOccurs="0" />
    							<element name="mandatory" type="boolean"
    								maxOccurs="1" minOccurs="0" />
    							<element name="setAsCustomer"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<element name="setAsServiceType"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<element name="setAsProblem"
    								maxOccurs="1" minOccurs="0">
    								<complexType>
    									<simpleContent>
    										<extension base="boolean">
    											<attribute name="field"
    												type="string" />
    										</extension>
    									</simpleContent>
    								</complexType>
    							</element>
    							<element name="helpTexts" minOccurs="0"
    								maxOccurs="1">
    								<complexType>
    									<sequence>
    										<element name="helpText"
    											type="string" minOccurs="1" maxOccurs="unbounded" />
    									</sequence>
    								</complexType>
    							</element>
    							<element name="icon" type="string"
    								minOccurs="0" maxOccurs="1" />
    						</sequence>
    					</complexType>
    				</element>
    			</sequence>
    		</complexType>
    	</element>
    </sequence>
    <attribute name="serviceValidation" type="boolean"
		use="optional">
	</attribute>
  	<attribute name="tabbed" type="boolean"
  		use="optional">
  	</attribute>
  </complexType>
  <complexType name="ServiceTypeType">
    <sequence>
      <element name="type" type="string" maxOccurs="1" minOccurs="1" />
      <element name="problems" maxOccurs="1" minOccurs="0">
        <complexType>
          <sequence>
            <element name="problem" maxOccurs="unbounded" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="name" type="string" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="WorkflowTemplateType">
    <sequence>
      <element name="serviceType" type="string" maxOccurs="1" minOccurs="1" />
      <element name="actionName" type="string" maxOccurs="1" minOccurs="1" />
      <element name="actionSolution" type="string" maxOccurs="1" minOccurs="0" />
      <element name="workflow" type="string" maxOccurs="1" minOccurs="1" />
      <element name="executionNode" minOccurs="0" maxOccurs="1">
        <simpleType>
          <restriction base="string">
            <enumeration value="ExecuteMacro" />
            <enumeration value="StartJobAndWait" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ActionRefType">
    <sequence>
      <element name="name" type="string" maxOccurs="1" minOccurs="1" />
      <element name="solution" maxOccurs="1" minOccurs="0" type="string" />
    </sequence>
    <attribute name="role" type="string" />
  </complexType>
  <complexType name="HelpTextType">
    <sequence>
      <element name="name" type="string" minOccurs="1" maxOccurs="1"/>
      <element name="text" type="string" minOccurs="1" maxOccurs="1"/>
      <element name="icon" type="string" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
</schema>
